@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");
@font-face {
  font-family: "Iron-Fist";
  src: url(Fonts/Iron-Fist.ttf);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #140606;
  font-family: "Outfit", sans-serif;
  color: #ffffff;
}

.view-container,
h1,
.desc,
.details-container,
.difficulty-container,
.view-img,
.img-container,
.tier,
.difficulty,
.difficulty-img,
.search,
.input,
.carousel,
.Bryan,
.King,
.Geese,
.carousel-button {
  background-color: #501313;
}

.carousel,
section {
  margin: 1.5em auto;
  width: 18em;
  height: 32.50em;
  border-radius: 1em;
}

.container {
  background-color: #501313;
  display: flex;
  flex-direction: column;
  padding: 1em;
  margin: auto;
  width: 18em;
  height: 32.50em;
  border-radius: 1em;
  box-shadow: 0em 0em 1em 0.2em #ff0000;
  position: absolute;
  transition: 0.1s ease-in-out;
  opacity: 0;
  pointer-events: none;
}

.container:focus {
  outline: 0;
}

.char-img {
  width: 16em;
  height: 16em;
  border-radius: 1em;
  object-fit: cover;
  object-position: 0em 0.2em 3em;
  background-image: linear-gradient(to bottom right, #000000, #5a2424, #861313);
  box-shadow: 0em 0em 1em 0.01em #ff0000;
}

h1 {
  margin-top: 0.5em;
  font-size: 1.75em;
  margin-bottom: 0.25em;
  text-transform: uppercase;
}

.difficulty {
  margin-top: 0.5em;
  font-size: 1.75em;
  margin-bottom: 0.25em;
  text-transform: uppercase;
}

.desc,
.tier {
  color: #ffffff;
  font-size: 1.25em;
  margin-bottom: 0.5em;
}

.creator-name:hover {
  color: #02d4cd;
  cursor: pointer;
}

.view-img {
  background-color: inherit;
}

.Keymoves,
.move,
.notation,
.launchers {
  background-color: inherit;
  font-size: 0.75em;
  margin-bottom: 0.5em;
}

.Keymoves,
.staplecombos {
  font-size: 1.25em;
}

.staplecombos {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  background-color: inherit;
}

.combonotation {
  display: flex;
  flex-direction: column;
  background-color: inherit;
}

.notation {
  font-family: "Iron-Fist", sans-serif;
  font-size: 1.2em;
}

.movenotation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: inherit;
}

.movenotationlist {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: space-evenly;
  background-color: inherit;
  border-bottom: 0.2em solid #830202;
}

.view-container {
  position: absolute;
  width: 18em;
  height: 32.50em;
  margin-top: -17.25em;
  margin-left: -1em;
  display: flex;
  flex-direction: column;
  padding: 1em;
  opacity: 0;
  transition: ease-in-out 0.5s;
  border-radius: 1em;
}

.view-container:hover {
  opacity: 0.95;
  background-color: #000000;
}

.details-container {
  display: flex;
  flex-direction: column;
  height: 6em;
  margin-top: 0.75em;
  margin-bottom: 0.2em;
  justify-content: space-between;
  border-bottom: 0.2em solid #b10000;
}

.difficulty-container {
  margin: auto 0em;
  display: flex;
  flex-direction: column;
  width: 11em;
  font-size: .65em;
}

.difficulty-img {
  object-fit: fill;
  width: 24.5em;
  height: 3.75em;
}

header {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: #610202;
  border-bottom: 0.2em solid #8b0000;
  box-shadow: 0em 0em 1em 0.1em #ff0000;
  z-index: 10;
  margin-bottom: 1em;
  height: 4.1em;
}

.select {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  background-color: #610202;
}

.charselect {
  background-color: #610202;
  border: none;
  scale: 75%;
  margin-left: -3em;
  margin-top: -0.75em;
}

.characters,
.hide {
  margin-top: 4em;
  width: 14em;
  max-height: 34em;
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  z-index: 1;
  overflow-y: scroll;
  background-color: #610202;
  opacity: 0;
  border: 0.2em solid #8b0000;
  box-shadow: 0em 0em 0.25em 0.001em #ff0000;
  transition: 0.4s ease-in-out;
  pointer-events: none;
}

.characters a {
  display: flex;
  color: #ffffff;
  font-size: 1em;
  padding: 1em;
  text-decoration: none;
  display: block;
  background-color: #610202;
}

.select:hover .characters,
.search,
.input {
  opacity: 1;
  pointer-events: all;
}

body {
  margin-bottom: 5em;
}

body,
html {
  background-image: url(./images/Background-img.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.logo-img {
  object-fit: contain;
  width: 23em;
  background-color: #610202;
  border: none;
}

.search .input {
  background-color: white;
  border: none;
  font-size: 1em;
  padding: 1em;
  height: auto;
  width: 16em;
  color: #000000;
}

.select:hover .hide {
  display: none;
}

.carousel-button {
  position: absolute;
  z-index: 2;
  background: none;
  border: none;
  font-size: 2.5rem;
  top: 42.5%;
  transform: translateY(-50%);
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
  border-radius: 100%;
  padding: 0rem 0.5rem;
  background-color: rgba(0, 0, 0, 0.2);
  width: auto;
  height: auto;
  scale: 20%;
}

.carousel-button:hover {
  color: white;
  background-color: rgba(0, 0, 0, 1);
}

.next, .prev {
  width: 6em;
  height: 6em;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.carousel-button.prev {
  margin: auto -3.75em;
}

.carousel-button.next {
  margin: auto 4.85em;
}

.container[data-active] {
  opacity: 1;
  pointer-events: all;
}